<div class="content">
  <h2 class="content-head is-center">Онлайн-бронирование</h2>

  <div class="pure-g">
    <div class="l-box-lrg pure-g pure-u-md-1">
      <div class="wrapper wrapper--w1100">
        <div class="card card-7">
          <div class="card-body">
            <form class="form" method="POST" action="#">
              <div class="input-group input--large">
                <label class="label">Откуда</label>
                <input class="input--style-1" type="text" placeholder="Станция отправления"
                       name="going">
              </div>
              <div class="input-group input--large">
                <label class="label">Куда</label>
                <input class="input--style-1" type="text" placeholder="Станция прибытия"
                       name="going">
              </div>
              <div class="input-group input--medium">
                <label class="label">Дата</label>
                <input class="input--style-1" type="text" name="checkin" placeholder="мм/дд/гггг"
                       id="input-start">
              </div>
              <div class="input-group input--medium">
                <label class="label">Пассажиры</label>
                <div class="input-group-icon js-number-input">
                  <div class="icon-con">
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                  </div>
                  <input class="input--style-1 quantity" type="text" name="passengers"
                         value="1 место">
                </div>
              </div>
              <button class="btn-submit" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
