<div class="content" id="form">
  <h3 class="content-head is-center">Онлайн-бронирование</h3>

  <div class="pure-g">
    <div class="l-box-lrg pure-g pure-u-md-1">
      <div class="wrapper wrapper--w1100">
        <div class="card card-7">
          <div class="card-body">
            <form [formGroup]="form" class="form" method="POST" (ngSubmit)="onSubmit()">
              <div class="input-group input--large">
                <label class="label">Откуда</label>
                <select formControlName="departure" class="input--style-1 selection"
                        name="going">
                  <option *ngFor="let depPoint of Points" [ngValue]="depPoint" >{{depPoint.name}}</option>
                </select>
              </div>
              <div class="input-group input--large">
                <label class="label">Куда</label>
                <select formControlName="arrival" class="input--style-1 selection"
                        name="going">
                  <option *ngFor="let arrPoint of Points" [ngValue]="arrPoint">{{arrPoint.name}}</option>
                </select>
              </div>
              <div class="input-group input--medium">
                <label class="label">Дата</label>
                <input formControlName="date" class="input--style-1" type="text" name="checkin" placeholder="дд/мм/гггг"
                       id="input-start">
              </div>
              <div class="input-group input--medium">
                <label class="label">Пассажиры</label>
                <div class="input-group-icon js-number-input">
                  <div class="icon-con">
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                  </div>
                  <input formControlName="places" class="input--style-1 quantity" type="text" name="passengers"
                         value="1 место">
                </div>
              </div>
              <button class="btn-submit" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="flights.length>0" class="pure-g">
    <div class="l-box-lrg pure-g pure-u-md-1">
      <div class="wrapper wrapper--w1100">
        <div class="card card-7">
          <div class="card-body">
            <div class="results-block">
              <div class="flights">
                <div *ngFor="let flight of flights" class="flight">
                  <div>
                    <p><span class="departure">ОТПРАВЛЕНИЕ: {{flight.timeDeparture}} {{flight.pointDeparture}}</span>
                      <span class="arrival">ПРИБЫТИЕ: {{flight.timeArrival}} {{flight.pointArrival}}</span></p>
                  </div>
                  <div>
                    <button title="book" class="btn-add pure-button" (click)="openDialog(flight)" >Забронировать</button>
                  </div>
                </div>
                <div class="for-map">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./assets/vendor/jquery/jquery.min.js"></script>
  <!-- Vendor JS-->
  <script src="./assets/vendor/select2/select2.min.js"></script>
  <script src="./assets/vendor/jquery-validate/jquery.validate.min.js"></script>
  <script src="./assets/vendor/bootstrap-wizard/bootstrap.min.js"></script>
  <script src="./assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
  <script src="./assets/vendor/datepicker/moment.min.js"></script>
  <script src="./assets/vendor/datepicker/daterangepicker.js"></script>
</div>
