<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed" id="header">
  <a routerLink="/" class="pure-menu-heading">Пассажирские перевозки</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="/admin/users" class="pure-menu-link">Пользователи</a></li>
    <li class="pure-menu-item"><a href="/admin/flights" class="pure-menu-link">Рейсы</a></li>
    <li class="pure-menu-item"><a href="/" class="pure-menu-link">Выход</a></li>
  </ul>
</div>
<div class="content">
  <h3 class="content-head is-center">Управление пользователями</h3>
  <div class="mdc-data-table">
    <table class="mdc-data-table__table table" aria-label="Пользователи">
      <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">
          ID
        </th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Фамилия</th>
        <th class="mdc-data-table__header-cell " role="columnheader" scope="col">Имя</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Телефон</th>
      </tr>
      </thead>
      <tbody class="mdc-data-table__content">
      <tr *ngFor="let user of users" class="mdc-data-table__row selected">
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{user.id}}</td>
        <td class="mdc-data-table__cell ">{{user.lastName}}</td>
        <td class="mdc-data-table__cell ">{{user.firstName}}</td>
        <td class="mdc-data-table__cell">{{user.phone}}</td>
        <td class="mdc-data-table__cell">
          <button class="mdc-button mdc-button--outlined"><span class="mdc-button__ripple"></span>Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
