<app-header></app-header>
<div class="text-center body" style="padding:100px 0">
  <div class="logo">вход</div>
  <div class="login-form-1">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-left">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="login" class="sr-only">Логин</label>
            <input id="login" type="text" formControlName="login" class="form-control" placeholder="логин"
                   [ngClass]="{ 'is-invalid': submitted && f.login.errors }"/>
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
              <div *ngIf="f.login.errors.required">Обязательно для заполнения</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Пароль</label>
            <input type="password" formControlName="password" class="form-control" placeholder="пароль"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            <div id="password" *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Обязательно для заполнения</div>
            </div>
          </div>
        </div>
        <button [disabled]="loading" class="login-button">
          <i class="fa fa-chevron-right"></i>
          <span *ngIf="loading"></span>
        </button>
      </div>
      <div class="etc-login-form">
        <p>Новый пользователь? <a href="#" routerLink="/register">создать новый аккаунт</a></p>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
