<div class="content">
  <h2 class="content-head is-center">О нас</h2>

  <div class="pure-g">
    <div class="l-box-lrg pure-u-1 pure-u-md-1-2">
      <h3>О компании</h3>
      <p>
        Уже более десятка лет наша компания делает все, чтобы пассажирские перевозки для наших
        клиентов были максимально безопасными и удобными. Проблемы с тем, чтобы уехать из Минска
        в Полоцк, Новополоцк, Лепель, Бегомль и обратно, остались в прошлом. Вы можете заказать
        маршрутку в нерегулярном сообщении Лунинец-Микашевичи-Минск онлайн используя современную
        IT-платформу NPM в любое время и в любом месте и быть на 100 процентов уверены в том, что
        попадете в пункт назначения в срок.
      </p>

      <h3>На расстоянии вытянутой руки</h3>
      <p>
        Куда бы вы ни собрались ехать, мы всегда готовы протянуть руку помощи. А именно: предоставить
        возможность заказа мест онлайн. При заказе маршрутного такси Полоцк Новополоцк Минск с
        использованием IT-платформы NPM вам гарантирован отличный сервис. В процессе оформления заявки
        необходимо ознакомится и подписать договор оферты.
      </p>
    </div>

    <div class="l-box-lrg pure-u-1 pure-u-md-1-2">
      <h3>Внимание к деталям</h3>
      <p>
        В своей работе мы уделяем внимание всем мелочам, осознавая, что комфорт клиента зависит не
        только от скорости перевозки, но и от удобства салона, вежливости обслуживающего персонала,
        доступности цен, а также удобного способа оформления заявки. При заказе маршрутки Лунинец-Минск
        у нас вас ожидает:<br>
        Новый комфортабельный салон,<br>
        Wi-Fi в каждом автобусе,<br>
        Удобное расположение остановочных пунктов,<br>
        Приятная стоимость поездки - 10 руб.
      </p>


      <h3>Водители-профессионалы</h3>
      <p>
        Заказывая маршрутку Лунинец-Минск через IT-платформу NPM, вы можете быть уверены
        в безопасности себя и ваших близких. Пассажирские перевозки осуществляют квалифицированные
        водители с большим опытом за плечами.
      </p>
    </div>
  </div>

</div>
