<div class="content">
  <h2 class="content-head is-center">Почему с нами выгодно</h2>
  <div class="pure-g">
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <h3 class="content-subhead">
        <i class="fa fa-rocket"></i>
        АВТОПАРК
      </h3>
      <p>
        У нас современный и хороший автопарк. Высокий уровень комфорта транспортных средств.
        Гарантируем комфорт в пути.
      </p>
    </div>
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <h3 class="content-subhead">
        <i class="fa fa-mobile"></i>
        ONLINE-ЗАКАЗ
      </h3>
      <p>
        Смартфон, планшет, компьютер
        любое устройство.
        Экономим время и деньги!
      </p>
    </div>
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <h3 class="content-subhead">
        <i class="fa fa-th-large"></i>
        БЕСПЛАТНЫЙ WI-FI ИНТЕРНЕТ
      </h3>
      <p>
        Бесплатный wi-fi интернет
        для наших пассажиров.
      </p>
    </div>
    <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <h3 class="content-subhead">
        <i class="fa fa-check-square-o"></i>
        ДОВОЛЬНЫЕ КЛИЕНТЫ
      </h3>
      <p>
        Более 100 человек каждый
        день пользуются нашими
        услугами.
      </p>
    </div>
  </div>
</div>
<div class="ribbon l-box-lrg pure-g">
  <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
    <img width="300" alt="File Icons" class="pure-img-responsive" src="../../../assets/img/mers.png">
  </div>
  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

    <h2 class="content-head content-head-ribbon">Преимущества онлайн-бронирования</h2>

    <p>
      Онлайн-заказ гораздо удобнее стандартных способов бронирования. Во-первых, это быстрее.
      Во-вторых, надежнее – исключается вероятность плохой связи. В-третьих, вы получите подробную
      информацию о маршрутах и прочих нюансах.
    </p>
  </div>
</div>
